@import 'settings';
@import 'foundation';

@include foundation-global-styles;
//@include foundation-grid;
@include foundation-flex-grid;
@include foundation-flex-classes;
@include foundation-typography;
//@include foundation-forms;
//@include foundation-button;
//@include foundation-accordion;
//@include foundation-accordion-menu;
//@include foundation-badge;
//@include foundation-breadcrumbs;
//@include foundation-button-group;
//@include foundation-callout;
//@include foundation-card;
//@include foundation-close-button;
@include foundation-menu;
//@include foundation-menu-icon;
//@include foundation-drilldown-menu;
@include foundation-dropdown;
//@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
//@include foundation-orbit;
//@include foundation-pagination;
@include foundation-progress-bar;
//@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
//@include foundation-table;
@include foundation-tabs;
//@include foundation-thumbnail;
@include foundation-title-bar;
//@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;

//$background-color: #e8e4e5;
//$theme-color: #bb9f94;
$heading-color: #0f0f0f;
$text-color: #8c8b8c;
$theme-color: #5e0e2a;
$background-color: #e7e0f0;
$font-size: 16px;
$margin: 0;
$letter-spacing: .01em;
$header-length: 110px;
$header-shrunk-length: 65px;
//$primary-font: "myriad-pro", sans-serif;
$primary-font: "proxima-soft",sans-serif;
$secondary-font: "minion-pro-caption", serif;
$image-hover-transparency: 0.1;
$caption-font-size: 2rem;
$caption-category-font-size: 1rem;

@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin make-black {
    color: $heading-color;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.625rem;
    letter-spacing: 2px;
    line-height: 24px;
    
    @include breakpoint(medium)
    {
        letter-spacing: 2.24px;
        line-height: 25.2px;
        font-size: 0.6875rem;
    }
}

@mixin list-item {
    color: $text-color;
    font-family: $primary-font;
    letter-spacing: 0.3px;
    line-height: 22.0529px;
    font-weight: 400;
    font-size: 1rem;

    @include breakpoint(medium)
    {
        font-size: 1.125rem;
        line-height: 25px;
        font-weight: 500;
    }
}

@mixin paragraph-style {
    padding-right: 8xp;
    padding-bottom: 8px;
    font-family: $primary-font;
    color: $text-color;
    letter-spacing: 0.64px;
    line-height: 25.2px;
    font-size: 18px;
    font-weight: 400;
}

figure, picture {
    width: 100%;
    max-height: 100%;
}

a:focus, a:hover {
	color: $theme-color;
}

*, body, html {
    box-sizing: border-box;
}

html
{
    line-height: 1.4;
    box-sizing: border-box;
}

body{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;

    box-sizing: border-box;
    min-height: 100%;
    background-color: $background-color;
    box-sizing: border-box;
    margin: $margin;
    letter-spacing: $letter-spacing;
    font-size: $font-size;
    min-height: 100%;
}

.container {
	position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

div.row {
    padding-left: 1rem;
    padding-right: 1rem;
}

.columns {
    padding-left: 0rem;
    padding-right: 0rem;
}

.row {
    position: relative;
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;
}

a {
    color: $theme-color;
    &.special {
        color: $heading-color;
    }
}

// HEADER

.cbp-af-header {
	top: 0;
	left: 0;
	width: 100%;
	position: fixed;
	z-index: 100;
	background-color: $background-color;

	padding-left: 0px;
    padding-right: 0px;
	height: $header-length;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;
	overflow: hidden;
}

.cbp-af-header .cbp-af-inner {
	width: 100%;
	padding: 0 0px;
	@include vertical-align;
}

.cbp-af-inner  {
	@include vertical-align;
}

.cbp-af-header .anjana_name,
.cbp-af-header nav {
	display: inline-block;
}

.cbp-af-header .anjana_name {
	margin: 0;
	float: left;
	@include vertical-align;
}

.cbp-af-header nav a {
	@include vertical-align;
}

/* Transitions and class for reduced height */
.cbp-af-header .anjana_name,
.cbp-af-header nav a {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.cbp-af-header.cbp-af-header-shrink {
	height: $header-shrunk-length;
}

.header {
    width: auto;
    z-index: 2;
	position: relative;
    overflow: hidden;
}

.anjana_name {
	font-family: $primary-font;
	font-style: normal;
	color: $heading-color;
    white-space: nowrap;
    padding-left: 8px;
    overflow: hidden;
    position: absolute;
    font-size: 1 rem;
    line-height: 22px;
    @include breakpoint(medium)
    {
        color: $heading-color;
        letter-spacing: 0.16px;
        font-size: 1.125rem;
        line-height: 25px;
        font-weight: 500;
    }
	@include vertical-align;
}

.header__nav {
    text-align: right;
    padding-left: 0px;
    padding-right: 0px;
    @include breakpoint(medium)
    {
        text-align: left;
    }
}

.nav_links{
    text-align: right;
    @include breakpoint(medium)
    {
        text-align: left;
    }
}


a:last-child{
    padding-right: 0;
}

.nav_link {
    margin-bottom: 0;
    color: $heading-color;
    text-transform: uppercase;
	font-family: $primary-font;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 8px;
    font-size: 9.625px;
    font-weight: 800;
    letter-spacing: 2.40625px;
    line-height: 28.875px;
    text-decoration-style: solid;
    
    @include breakpoint(medium)
    {
        padding-right: 2rem;
        font-size: 11px;
        font-weight: 800;
        letter-spacing: 2.75px;
        line-height: 33px;
    }
}


// Scene

.scene {
	width: 100%;
	z-index: 5;
	margin-top: 120px;
}

.promo_area {
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 16px;
}

.promo_text_div h1 {
    padding-top: 20px;
    padding-left: 8px;
    color: $theme-color;
    font-size: 26px;
    line-height: 36px;
    font-family: $primary-font;

    @include breakpoint(medium)
    {
        font-size: 34px;
        line-height: 44px;
    }
}

.list {
    margin: 0;
    padding-left: 8px;
}

.list, .list a {
    @include list-item();

    &.make_black {
        @include make-black();
        transition: all 0.3s;
        transform: translateY(-50%);
    }
}


ul {
    margin: 0;
    padding-left: 8px;
    padding-right: 8px;
    list-style: none;
    overflow: hidden;
}

// Art work section

.artwork {
    padding-right: 16px;
    padding-bottom: 32px;
}

.project_image {
    display: block;
}

figure {
    margin: 0;
    position: relative;
    padding: 8px;
}

img {
    border-style: none;
}

figcaption
{
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: auto;
    opacity: 50;
}

.figcaption_sub {
    font-size: $caption-font-size;
    text-transform: capitalize;
    color: $heading-color;
    color: $text-color;
    font-family: $primary-font;
}

.caption_category {
    font-size: $caption-category-font-size;
    text-transform: capitalize;
    color: $text-color;
    font-family: $primary-font;
}

.figcaption_inner
{
    padding: 0;
    margin: 0;
    padding-left: 8px;
    padding-right: 8px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
}

@media (min-width: 600px)
{
    .medium-6 {
        -webkit-box-flex: 0;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .content ul li {
        float: left;
        width: 50%;
    }
}

.project figure picture img {
    opacity: 0.8;
}

.project figure figcaption{
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

figure.effect-honey img {
	opacity: 1;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-honey:hover img {
	opacity: $image-hover-transparency;
}

figure.effect-honey figcaption::before {
	width: 100%;
	height: 10px;
	content: '';
}

figure.effect-honey h3 {
    opacity: 0;
	position: relative;
	text-align: center;
}

figure.effect-honey:hover figcaption::before,
figure.effect-honey:hover h3,
figure.effect-honey:hover h3 i {
	opacity: 1;
    text-align: center;
}

// Profile Page

.content
{
    padding-top: 20px;
    padding-right: 48px;
}

.anjana_profile_text
{
    @include paragraph-style();
    padding-left: 8px;
}

h2 { 
    padding-left: 8px;
}

// Footer

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.copyright {
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: $primary-font;
    font-size: 14px;
    color: $text-color;
    margin: 0;
}

.help_text {
    font-family: $primary-font;
    color: $theme-color;
    font-size: 25px;
    text-align: center;
    @include vertical-align();
    display: block;
    margin: 0 auto;
    transform: translateY(200%);

    &.lost {
        font-size: 96px;
        transform: translateY(65%);
    }
 }

 // Individual Art Page
 .art_details_content {
     @include list-item();
     margin-bottom: 16px;
}

.art_details_heading {
    @include make-black();
}

.project_stuff {
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    display: block;
    margin: 0 auto;
    text-align: center;
    p {
        color: $theme-color;
    }
}

.row .elephant {
    display: block;
    margin: 0 auto;
    transform: translateY(50%);
}