{% extends 'singlepage/single_base.html' %}

{% block detaillist %}
    <li class="art_details_heading">Client</li>
    <li class="art_details_content">{% if art.client_name %} {{art.client_name}} {% else %} Personal Work {% endif %} </li>
    <li class="art_details_heading">Year</li>
    <li class="art_details_content">{{art.pub_date|date}} </li>	
    <li class="art_details_heading">Project Type</li>
    <li class="art_details_content">{{art.art_type.category}}</li>
{% endblock %}

{% block promotext %}
    <div class="anjana_profile_text">{{art.body|safe}}</div>
{% endblock %}

{% block main-content %}
    {% for image in art.art_url_set.all %}
    <div class="project_stuff">
        <img class="artdetail_image" srcset="{{image.url}}" alt="image{{image.sequence}}"/>
        {{image.body|safe}}
    </div>
    {% endfor %}
{% endblock %}