{% extends 'singlepage/single_base.html' %}

{% block main-content %}

<div class="row">
        <div class="columns medium-6">
                <div class="profile_pic">
                        <figure class="project_image">
				<picture class="project_image">
					<img class="project_image" srcset="/static/images/elephant.png" alt="Anjana-Profile-Image" />
				</picture>
			</figure>
                </div>
        </div>
        <div class="columns medium-6">
                <div class="content">
                        {{singlepage.body|safe}}
                </div>
        </div>
</div>

{% endblock %}