<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title> 404 - Page Not found!</title>
        <link rel="stylesheet" href="/static/css/style.css" />
        <script src="/static/js/modernizr.custom.js"></script>
    </head>
<body>
    <div class="container">
    <span class="help_text"> Hey! You seem to have got lost. Wish to go back? Hold the tail... </span>
        <a class="elephant" href="/"> <br/> <img src="/static/images/elephant.png" alt="Baby Elephant"> </a>
    </div>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/classie.js"></script>
    <script src="/static/js/cbpAnimatedHeader.min.js"></script></script>
    <script src="/static/js/foundation.min.js"></script>
    <script src="/static/js/script.min.js"></script>
</body>
</html> 